.footer {
    justify-content: space-between;
    align-items: center;
    color: #0b0808;
    background-size: cover;
  
  }
  .social-links
  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
  }
    
  .social-links a {
    color: #0e0d0d;
    font-size: 24px;
    margin-left: 5px;
  }
  
 @media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .social-links {
    margin-bottom: 10px;
  }
}